  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
body, html {
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    border: 0;
    background-color: #2D2525;
    
}
.logo{
    width: 12em;
    margin: auto;
}
.container{
    height: 100%;
    margin: auto;
    padding: 3em 0em;

}
.row{
    margin: auto;
    
}

.row_cell{
    float: left;
    margin: 20px 25px;
}
.plano{
    width: 200px;
}