  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
body, html {
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    border: 0;
    background-color: #2D2525;
    
}
.logo{
    width: 10%;
    margin: auto;
    position: relative;
}
.container{
    height: 100%;
    margin: auto;
    padding: 3em 0em;

}


/* Slideshow container */
.slideshow-container {
    padding-top: 20px;
    position: relative;
    margin: auto;
    width: 25%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: -50;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: -50;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}